<%= form_for(@metodologium) do |f| %>
  <% if @metodologium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metodologium.errors.count, "error") %> prohibited this metodologium from being saved:</h2>

      <ul>
      <% @metodologium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="Container1">
<div class="Container">
  <div class="field">
    <%= f.label :tipo_estudio %><br>
    <%= f.text_field :tipo_estudio , class: "form-control", placeholder: "Tipo de estudio a realizar"%>
  </div>
  <div class="field">
    <%= f.label :proc_tratamiento %><br>
    <%= f.text_field :proc_tratamiento, class: "form-control", placeholder: "Tratamiento" %>
  </div>
  <div class="field">
    <%= f.label :proc_esticos %><br>
    <%= f.text_field :proc_esticos , class: "form-control", placeholder: "Procedimientos Esteticos"%>
  </div>
  <div class="field">
    <%= f.label :plan_analisis %><br>
    <%= f.text_field :plan_analisis , class: "form-control", placeholder: "Plan de Analisis"%>
  </div>
  <div class="field">
    <%= f.label :conclucion %><br>
    <%= f.text_field :conclucion , class: "form-control", placeholder: "Concluciones"%>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">Siguiente</button>
  </div>
  </div>
  </div>
<% end %>  
 