<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo estudio:</strong>
  <%= @metodologium.tipo_estudio %>
</p>

<p>
  <strong>Proc tratamiento:</strong>
  <%= @metodologium.proc_tratamiento %>
</p>

<p>
  <strong>Proc esticos:</strong>
  <%= @metodologium.proc_esticos %>
</p>

<p>
  <strong>Plan analisis:</strong>
  <%= @metodologium.plan_analisis %>
</p>

<p>
  <strong>Conclucion:</strong>
  <%= @metodologium.conclucion %>
</p>

<%= link_to 'Edit', edit_metodologium_path(@metodologium) %> |
<%= link_to 'Back', metodologia_path %>
