<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo estudio:</strong>
  <%= @metodologium.tipo_estudio %>
</p>

<p>
  <strong>Proc tratamiento:</strong>
  <%= @metodologium.proc_tratamiento %>
</p>

<p>
  <strong>Proc esteticos:</strong>
  <%= @metodologium.proc_esteticos %>
</p>

<%= link_to 'Edit', edit_metodologium_path(@metodologium) %> |
<%= link_to 'Back', metodologia_path %>
