<p id="notice"><%= notice %></p>

<h1>Listing Monitoreo Talentoh Avances</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nivel academico</th>
      <th>Titulo trabajo</th>
      <th>Facultad</th>
      <th>Otra info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monitoreo_talentoh_avances.each do |monitoreo_talentoh_avance| %>
      <tr>
        <td><%= monitoreo_talentoh_avance.nombre %></td>
        <td><%= monitoreo_talentoh_avance.apellido %></td>
        <td><%= monitoreo_talentoh_avance.nivel_academico %></td>
        <td><%= monitoreo_talentoh_avance.titulo_trabajo %></td>
        <td><%= monitoreo_talentoh_avance.facultad %></td>
        <td><%= monitoreo_talentoh_avance.otra_info %></td>
        <td><%= link_to 'Show', monitoreo_talentoh_avance %></td>
        <td><%= link_to 'Edit', edit_monitoreo_talentoh_avance_path(monitoreo_talentoh_avance) %></td>
        <td><%= link_to 'Destroy', monitoreo_talentoh_avance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monitoreo talentoh avance', new_monitoreo_talentoh_avance_path %>
