<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @monitoreo_talentoh_avance.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @monitoreo_talentoh_avance.apellido %>
</p>

<p>
  <strong>Nivel academico:</strong>
  <%= @monitoreo_talentoh_avance.nivel_academico %>
</p>

<p>
  <strong>Titulo trabajo:</strong>
  <%= @monitoreo_talentoh_avance.titulo_trabajo %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @monitoreo_talentoh_avance.facultad %>
</p>

<p>
  <strong>Otra info:</strong>
  <%= @monitoreo_talentoh_avance.otra_info %>
</p>

<%= link_to 'Edit', edit_monitoreo_talentoh_avance_path(@monitoreo_talentoh_avance) %> |
<%= link_to 'Back', monitoreo_talentoh_avances_path %>
