<p id="notice"><%= notice %></p>

<h1>Listing Cronogramas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Activi relevante</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Planvinculo docente</th>
      <th>Plan talentohumano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cronogramas.each do |cronograma| %>
      <tr>
        <td><%= cronograma.numero %></td>
        <td><%= cronograma.activi_relevante %></td>
        <td><%= cronograma.fecha_inicio %></td>
        <td><%= cronograma.fecha_fin %></td>
        <td><%= cronograma.planVinculo_docente %></td>
        <td><%= cronograma.plan_talentoHumano %></td>
        <td><%= link_to 'Show', cronograma %></td>
        <td><%= link_to 'Edit', edit_cronograma_path(cronograma) %></td>
        <td><%= link_to 'Destroy', cronograma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cronograma', new_cronograma_path %>
