<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @cronograma.numero %>
</p>

<p>
  <strong>Activi relevante:</strong>
  <%= @cronograma.activi_relevante %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @cronograma.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @cronograma.fecha_fin %>
</p>

<p>
  <strong>Planvinculo docente:</strong>
  <%= @cronograma.planVinculo_docente %>
</p>

<p>
  <strong>Plan talentohumano:</strong>
  <%= @cronograma.plan_talentoHumano %>
</p>

<%= link_to 'Edit', edit_cronograma_path(@cronograma) %> |
<%= link_to 'Back', cronogramas_path %>
