<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre parti:</strong>
  <%= @participantes_proyecto_avance.nombre_parti %>
</p>

<p>
  <strong>Apellido parti:</strong>
  <%= @participantes_proyecto_avance.apellido_parti %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @participantes_proyecto_avance.facultad %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @participantes_proyecto_avance.cargo %>
</p>

<p>
  <strong>Funciones responsabilidades:</strong>
  <%= @participantes_proyecto_avance.funciones_responsabilidades %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @participantes_proyecto_avance.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @participantes_proyecto_avance.correo %>
</p>

<p>
  <strong>Resum resultados:</strong>
  <%= @participantes_proyecto_avance.resum_resultados %>
</p>

<%= link_to 'Edit', edit_participantes_proyecto_avance_path(@participantes_proyecto_avance) %> |
<%= link_to 'Back', participantes_proyecto_avances_path %>
