<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre contacto:</strong>
  <%= @monitoreo_beneficio_avance.nombre_contacto %>
</p>

<p>
  <strong>Apellido contacto:</strong>
  <%= @monitoreo_beneficio_avance.apellido_contacto %>
</p>

<p>
  <strong>Nombre organizacion:</strong>
  <%= @monitoreo_beneficio_avance.nombre_organizacion %>
</p>

<p>
  <strong>Tipo colaboracion:</strong>
  <%= @monitoreo_beneficio_avance.tipo_colaboracion %>
</p>

<p>
  <strong>Compromiso organizacion:</strong>
  <%= @monitoreo_beneficio_avance.compromiso_organizacion %>
</p>

<p>
  <strong>Actv realizadas:</strong>
  <%= @monitoreo_beneficio_avance.actv_realizadas %>
</p>

<%= link_to 'Edit', edit_monitoreo_beneficio_avance_path(@monitoreo_beneficio_avance) %> |
<%= link_to 'Back', monitoreo_beneficio_avances_path %>
