<p id="notice"><%= notice %></p>

<p>
  <strong>Obj especifico:</strong>
  <%= @desarrollo_ejcucion_avance.obj_especifico %>
</p>

<p>
  <strong>Resultados:</strong>
  <%= @desarrollo_ejcucion_avance.resultados %>
</p>

<p>
  <strong>Actv desarrolladas:</strong>
  <%= @desarrollo_ejcucion_avance.actv_desarrolladas %>
</p>

<p>
  <strong>Fecha estiamda:</strong>
  <%= @desarrollo_ejcucion_avance.fecha_estiamda %>
</p>

<p>
  <strong>Fecha real:</strong>
  <%= @desarrollo_ejcucion_avance.fecha_real %>
</p>

<p>
  <strong>Estado avance:</strong>
  <%= @desarrollo_ejcucion_avance.estado_avance %>
</p>

<p>
  <strong>Dific resolver:</strong>
  <%= @desarrollo_ejcucion_avance.dific_resolver %>
</p>

<p>
  <strong>Actv pendientes:</strong>
  <%= @desarrollo_ejcucion_avance.actv_pendientes %>
</p>

<%= link_to 'Edit', edit_desarrollo_ejcucion_avance_path(@desarrollo_ejcucion_avance) %> |
<%= link_to 'Back', desarrollo_ejcucion_avances_path %>
