<%= form_for(@participaciones_act) do |f| %>
  <% if @participaciones_act.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participaciones_act.errors.count, "error") %> prohibited this participaciones_act from being saved:</h2>

      <ul>
      <% @participaciones_act.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :nombre_act %><br>
    <%= f.text_field :nombre_act %>
  </div>
  <div class="field">
    <%= f.label :tipo_act %><br>
    <%= f.text_field :tipo_act %>
  </div>
  <div class="field">
    <%= f.label :inst_nac_internac %><br>
    <%= f.text_field :inst_nac_internac %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :tipo_planif %><br>
    <%= f.text_field :tipo_planif %>
  </div>
  <div class="field">
    <%= f.label :contraparte_beneficio %><br>
    <%= f.text_field :contraparte_beneficio %>
  </div>
  <div class="actions">
    <!--<%= f.submit %>-->
  </div>
<% end %>
