<p id="notice"><%= notice %></p>

<h1>Listing Identificacion Proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Duracion</th>
      <th>Area estrategica</th>
      <th>Linea</th>
      <th>Resumen</th>
      <th>Definicion problema</th>
      <th>Justificacio</th>
      <th>Fundamento teorico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identificacion_proyectos.each do |identificacion_proyecto| %>
      <tr>
        <td><%= identificacion_proyecto.titulo %></td>
        <td><%= identificacion_proyecto.fecha_inicio %></td>
        <td><%= identificacion_proyecto.fecha_fin %></td>
        <td><%= identificacion_proyecto.duracion %></td>
        <td><%= identificacion_proyecto.area_estrategica %></td>
        <td><%= identificacion_proyecto.linea %></td>
        <td><%= identificacion_proyecto.resumen %></td>
        <td><%= identificacion_proyecto.definicion_problema %></td>
        <td><%= identificacion_proyecto.justificacio %></td>
        <td><%= identificacion_proyecto.fundamento_teorico %></td>
        <td><%= link_to 'Show', identificacion_proyecto %></td>
        <td><%= link_to 'Edit', edit_identificacion_proyecto_path(identificacion_proyecto) %></td>
        <td><%= link_to 'Destroy', identificacion_proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'registrar identificacion del Proyecto', new_identificacion_proyecto_path %>
