<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @identificacion_proyecto.titulo %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @identificacion_proyecto.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @identificacion_proyecto.fecha_fin %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @identificacion_proyecto.duracion %>
</p>

<p>
  <strong>Area estrategica:</strong>
  <%= @identificacion_proyecto.area_estrategica %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @identificacion_proyecto.linea %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @identificacion_proyecto.resumen %>
</p>

<p>
  <strong>Definicion problema:</strong>
  <%= @identificacion_proyecto.definicion_problema %>
</p>

<p>
  <strong>Justificacio:</strong>
  <%= @identificacion_proyecto.justificacio %>
</p>

<p>
  <strong>Fundamento teorico:</strong>
  <%= @identificacion_proyecto.fundamento_teorico %>
</p>

<p>
  <strong>Plan analisis:</strong>
  <%= @identificacion_proyecto.plan_analisis %>
</p>

<p>
  <strong>Conclucion:</strong>
  <%= @identificacion_proyecto.conclucion %>
</p>

<p>
  <strong>Plan vinculo docente:</strong>
  <%= @identificacion_proyecto.plan_vinculo_docente %>
</p>

<p>
  <strong>Plan talento humano:</strong>
  <%= @identificacion_proyecto.plan_talento_humano %>
</p>

<p>
  <strong>Contraparte beneficio:</strong>
  <%= @identificacion_proyecto.contraparte_beneficio %>
</p>

<p>
  <strong>Anexos:</strong>
  <%= @identificacion_proyecto.anexos %>
</p>

<p>
  <strong>Datos personale:</strong>
  <%= @identificacion_proyecto.datos_personale %>
</p>

<%= link_to 'Edit', edit_identificacion_proyecto_path(@identificacion_proyecto) %> |
<%= link_to 'Back', identificacion_proyectos_path %>
