<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre curso:</strong>
  <%= @monitoreo_viculodocente_avance.nombre_curso %>
</p>

<p>
  <strong>Nivel curso:</strong>
  <%= @monitoreo_viculodocente_avance.nivel_curso %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @monitoreo_viculodocente_avance.facultad %>
</p>

<p>
  <strong>Semestre:</strong>
  <%= @monitoreo_viculodocente_avance.semestre %>
</p>

<%= link_to 'Edit', edit_monitoreo_viculodocente_avance_path(@monitoreo_viculodocente_avance) %> |
<%= link_to 'Back', monitoreo_viculodocente_avances_path %>
