<p id="notice"><%= notice %></p>

<h1>Listing Participacines Acts</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nombre act</th>
      <th>Tipo act</th>
      <th>Inst naci internaci</th>
      <th>Fecha</th>
      <th>Tipo planific planificada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participacines_acts.each do |participacines_act| %>
      <tr>
        <td><%= participacines_act.numero %></td>
        <td><%= participacines_act.nombre_act %></td>
        <td><%= participacines_act.tipo_act %></td>
        <td><%= participacines_act.inst_naci_internaci %></td>
        <td><%= participacines_act.fecha %></td>
        <td><%= participacines_act.tipo_planific_planificada %></td>
        <td><%= link_to 'Show', participacines_act %></td>
        <td><%= link_to 'Edit', edit_participacines_act_path(participacines_act) %></td>
        <td><%= link_to 'Destroy', participacines_act, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participacines act', new_participacines_act_path %>
