<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @participacines_act.numero %>
</p>

<p>
  <strong>Nombre act:</strong>
  <%= @participacines_act.nombre_act %>
</p>

<p>
  <strong>Tipo act:</strong>
  <%= @participacines_act.tipo_act %>
</p>

<p>
  <strong>Inst naci internaci:</strong>
  <%= @participacines_act.inst_naci_internaci %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @participacines_act.fecha %>
</p>

<p>
  <strong>Tipo planific planificada:</strong>
  <%= @participacines_act.tipo_planific_planificada %>
</p>

<%= link_to 'Edit', edit_participacines_act_path(@participacines_act) %> |
<%= link_to 'Back', participacines_acts_path %>
