<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre act:</strong>
  <%= @ciencia_tecnologia_avance.nombre_act %>
</p>

<p>
  <strong>Participantes:</strong>
  <%= @ciencia_tecnologia_avance.participantes %>
</p>

<p>
  <strong>Tipo act:</strong>
  <%= @ciencia_tecnologia_avance.tipo_act %>
</p>

<p>
  <strong>Inst nac internac:</strong>
  <%= @ciencia_tecnologia_avance.inst_nac_internac %>
</p>

<p>
  <strong>Tipo partiplanif:</strong>
  <%= @ciencia_tecnologia_avance.tipo_partiplanif %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ciencia_tecnologia_avance.fecha %>
</p>

<p>
  <strong>Informe avance:</strong>
  <%= @ciencia_tecnologia_avance.informe_avance %>
</p>

<%= link_to 'Edit', edit_ciencia_tecnologia_avance_path(@ciencia_tecnologia_avance) %> |
<%= link_to 'Back', ciencia_tecnologia_avances_path %>
