<%= form_for(@objetivo) do |f| %>
  <% if @objetivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objetivo.errors.count, "error") %> prohibited this objetivo from being saved:</h2>

      <ul>
      <% @objetivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="Container1">
<div class="Container">
  <div class="field" >
    <%= f.label :objetivo_general %><br>
    <%= f.text_area :objetivo_general , class: "form-control", placeholder: "Ingrese el Objetivo General"%>
  </div>
  <div class="field">
    <%= f.label :objetivo_especifico %><br>
    <%= f.text_area :objetivo_especifico,  class: "form-control", placeholder: "Ingrese lo Objetivo Específicos"%>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">Siguiente</button>
  </div> 
  </div>
  </div>
<% end %>
