<p id="notice"><%= notice %></p>

<p>
  <strong>Objetivo general:</strong>
  <%= @objetivo.objetivo_general %>
</p>

<p>
  <strong>Objetivo especifico:</strong>
  <%= @objetivo.objetivo_especifico %>
</p>

<%= link_to 'Edit', edit_objetivo_path(@objetivo) %> |
<%= link_to 'Back', objetivos_path %>
