<%= form_for(@datos_personale) do |f| %>
  <% if @datos_personale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datos_personale.errors.count, "error") %> prohibited this datos_personale from being saved:</h2>

      <ul>
      <% @datos_personale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="Container1">
<div class="Container">
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre , class: "form-control", placeholder: "Nombre"%>
  </div>
  <div class="field">
    <%= f.label :Apellido %><br>
    <%= f.text_field :apellido, class: "form-control", placeholder: "Apellido"%>
  </div>
  <div class="field">
    <%= f.label :Facultad %><br>
   <%= f.text_field :facultad, class: "form-control", placeholder: "Facultad"%>
  </div>
  <div class="field">
    <%= f.label :Departamento %><br>
    <%= f.text_field :departamento, class: "form-control", placeholder: "Departamento"%>
  </div>
  <div class="field">
    <%= f.label :Programa %><br>
    <%= f.text_field :programa, class: "form-control", placeholder: "Programa"%>
  <div class="field">
    <%= f.label :Teléfono %><br>
    <%= f.text_field :telefono, class: "form-control", placeholder: "Telefono"%>
  <div class="field">
    <%= f.label :Celular %><br>
    <%= f.text_field :celular, class: "form-control", placeholder: "Ingrese un numero de Celular"%>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :email, class: "form-control", placeholder: "Ingrese su Email"%>
  <div class="field">
    <%= f.label :Formacion_Académica %><br>
    <%= f.text_area :formacion_academica, class: "form-control", placeholder: "Ingrese sus datos academicos"%>
  <div class="field">
    <%= f.label :Experiencia %><br>
    <%= f.text_field :experiencia, class: "form-control", placeholder: "Experiancia como Investigado/Innovador"%>
  </div>
  <div class="field">
    <%= f.label :Curriculum %><br>
    <%= f.text_field :curriculum, class: "form-control", placeholder: "Curriculum"%>
  </div>
  <div class="actions">
    <button type="submit" class="btn btn-primary">Siguiente</button>
  </div>
  </div>
  </div>
<% end %>
