<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @datos_personale.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @datos_personale.apellido %>
</p>

<p>
  <strong>Facultad:</strong>
  <%= @datos_personale.facultad %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @datos_personale.departamento %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @datos_personale.programa %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @datos_personale.telefono %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @datos_personale.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @datos_personale.email %>
</p>

<p>
  <strong>Formacion academica:</strong>
  <%= @datos_personale.formacion_academica %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @datos_personale.experiencia %>
</p>

<p>
  <strong>Curriculum:</strong>
  <%= @datos_personale.curriculum %>
</p>

<%= link_to 'Edit', edit_datos_personale_path(@datos_personale) %> |
<%= link_to 'Back', datos_personales_path %>
